<!DOCTYPE html>
<html>
    <head>
        <title>Template Base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content%}
        <h1>Hola Mundo desde DJango</h1>
        <h2>Con templates</h2>
        <p>
            {{myText|upper|truncatechars:"16"}},
            {{myNumber}}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>{{ forloop.counter }} - {{ myItem|add:2 }}
                {% if myItem ==  33 %}
                    - Número mágico
                {% elif myItem|divisibleby:2 %}
                    - Número par
                {% elif myItem > 50 %}
                    - Número mayor que 50
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div>
            {% for myItem in myColors %}
                {{ myItem|capfirst|linenumbers }}
                {% if myItem|length > 4 %}    
                    - Color de nombre extenso
                {% endif %}
                <br>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>