<!DOCTYPE html>
<html>
    <head>
        <title>Template Base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content%}
        <h1>Hola Mundo desde DJango</h1>
        <h2>Con templates</h2>
        <p>
            {{myText}},
            {{myNumber}}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>{{ forloop.counter }} - {{ myItem }}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for myItem in myColors %}
                <li>{{ forloop.counter0 }} - {{ myItem }}</li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>